include ./_mixins

doctype html
html(lang='en')
    head
        title What The Fuck Is&hellip;
        link(rel="stylesheet", href="css/main.css")
    body
        .container
            header
                a.pull-right(href="#") What is the #[strong #WellnessChallenge] about?
                img#logo(src="images/logo-weirdly.png", alt="Weirdly")
            include ./page/_home
            include ./page/_generator
            include ./page/_about
    script(src="js/main.js")
