include ./_mixins
doctype html
html(lang='en')
    head
        title The ultimate #Wellnesschallenge generator
        meta(description='Join the #wellnesschallenge! Weirdly automatic wellness challenge generator makes it easy. Get ideas for you and your team, every day.')
        meta(keyword='#wellnesschallenge')
        link(rel="stylesheet", href="css/main.css")
    body
        .container
            header
                a#about.pull-right(href="#") What is the #[strong #WellnessChallenge] about?
                a(href="https://weirdlyhub.com/", target="_blank"): img#logo(src="images/logo-weirdly.png", alt="Weirdly")


            .page.page-home
                +break
                p Coming up with new wellness challenges everyday can be, well, a bit of a challenge.
                br
                p.lead Make it easy – #[strong let our wellness idea generator choose your daily challenge for you.]
                +break
                p: a#start.btn.btn-primary(href="#") Go, give me my challenge


            .page.page-generator.hidden
                +break
                #output
                +break
                p
                    a#new-challenge.btn.btn-success(href="#") Nope. Different challenge please.
                    a#tweeter.btn.btn-info(href="https://twitter.com/intent/tweet", target="_blank") Yep, cool. Tweet my challenge.


        .page.page-about.hidden.animate
            .container
                button#close
                h1 The #WellnessChallenge
                p Every morning in the Weirdly office starts with a team standup. Standing around the whiteboard, each member in our band of misfits write up three priorities for their day: Two outcomes or tasks they need to achieve, and one wellness challenge.
                p Everyone chooses a different wellness challenge each day – it could be colouring one day, doing 5 press-ups the next day, or eating lunch with someone you don’t normally talk to the next.
                p Then, the next morning we report back on our success, before erasing yesterday’s challenges and starting fresh.
                p Building wellness into an every-day ritual helps build a culture of mutual respect, encouragement, awareness and (most importantly) fun.
                p
                    a.btn.btn-default(href="https://weirdlyhub.com/news/", target="_blank") Read the blog
                    a.btn.btn-default(href="https://weirdlyhub.com/", target="_blank") Visit Weirdly

        .share
            .container
                p Share the wellness
                    a.btn.twitter#tweeter(href="https://twitter.com/home?status=Today%20I%E2%80%99m%20going%20to%20try%20a%20new%20WeirdlyWellness%20challenge.%20What%20will%20YOU%20do?%20%23wellnesschallenge%20http%3A//wellness.weirdlyhub.com/", target="_blank")

                    a.btn.facebook(href="http://hrefshare.com/338ee", target="_blank") 

    include _twitter
    include _googleTag
    script(src="js/main.js")
