$brand-primary: #00C7A5;

$body-bg: $brand-primary;
$text-color: white;
$font-size-base: 18px;

$btn-primary-color: $brand-primary;
$btn-primary-border: $text-color;
$btn-primary-bg: white;

$btn-success-color:  $text-color;
$btn-success-bg:     #E85B2A;
$btn-success-border: transparent;

$btn-info-color:  $text-color;
$btn-info-bg:     #199BD8;
$btn-info-border: transparent;

$btn-default-color:  $text-color;
$btn-default-bg:     transparent;
$btn-default-border: white;

$link-color: $text-color;
$link-hover-color: $link-color;
$font-family-sans-serif: aller_light, arial, sans-serif;

$close-color: $text-color;
