.page.hidden
    +break
    p How's about you try,
    p taking a photo of something blue,
    p like a dang legend.
    +break
    p: a.button(href="#") Nope. Different challenge please.
    p: a.button(href="#") Yep, cool. Tweet my challenge.
