.page
    +break
    p Coming up with new wellness challenges everyday can be, well, a bit of a challenge.
    p.lead Make it easy – let our wellness idea generator choose your daily challenge for you.
    +break
    p: a.btn.btn-default(href="#") Go, give me my challenge
